@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5CBDB;
    padding: 10px;
}

.namebox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin:6px;
}

.logo {
    font-size: 22px;
    font-weight: 500;
}